.list {
    display: flex;
    justify-content: center;
    &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    }
    &__card{
        width: 100px;
        height: 115px;
        border: none;
        background-color: transparent;
        &--name{
            font-size: 25px;
            color: #bb8b06;
            text-align: center;
            font-family: 'Farsan', cursive;
        }
        &--text {
            font-size: 22px;
            color: #bb8b06;
            text-align: center;
            text-transform: capitalize;
            text-align: center;
            font-family: 'Farsan', cursive;
        }
    }
}









