.error{
    color: #bb8b06;
    font-family: 'Farsan', cursive;
    font-size: 22px;
    text-align: center;
    margin: 10px 10px 0 10px;
    @media all and (min-width: 768px){
        font-size: 30px;
    }
}