.filter{
    color: #bb8b06;
    font-family: 'Farsan', cursive;
    &__input{
        background-color: #b6b7c1;
        color: #bb8b06;
        font-family: 'Farsan', cursive;
}
    &__select--option{
        color: #bb8b06;
        font-family: 'Farsan', cursive;
}
}