.filter{
    color: #bb8b06;
    font-family: 'Farsan', cursive;
    font-size: 35px;
    @media all and (min-width: 768px){
        font-size: 45px;
    }
    &__input{
        background-color: #b6b7c1;
        color: #bb8b06;
        padding-left: 5px;
        font-family: 'Farsan', cursive;
        @media all and (min-width: 768px){
            font-size: 30px;
        }
    }
}

::placeholder{
    color: #bb8b06;
    padding: 10px;
    font-size: 20px;
}