@import 'core/reset.scss';
@import 'layout/CharacterCard.scss';
@import 'layout/CharacterDetail.scss';
@import 'layout/CharacterList.scss';
@import 'layout/Error.scss';
@import 'layout/FilterHouse.scss';
@import 'layout/FilterName.scss';
@import 'layout/Filters.scss';
@import 'layout/Header.scss';

.body{
    background-color: #19191a;
    background-image: url('../images/fondo.jpg');
}


.main{
    height: 80vh;
    width: 100vw;
}


