/* Aquí van tus estilos */

.body{
    background-color: #19191a;
}
.card{
    width: 175px;
    height: 175px;
    border-radius: 5%;
    border: none;
    background-color: transparent;
    margin:auto;
    padding-top: 10px;
}

.ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.list{
    margin: 20px;
    background-color: #dda90d;
    background-color: #bb8b06;
}

.link{
    text-decoration: none;
}

// .img{
//     background-image: url('../../src/images/hero-negro.jpg');
//     width: 100vw;
//     height: 40vh;
//     background-size: cover;
// }

.main{
    height: 80vh;
    width: 100vw;
}

.detail__page{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.detail__img{
        width: 175px;
        height: 175px;
        border-radius: 5%;
        border: none;
        background-color: transparent;
        margin:auto;
        padding-top: 10px;

    }


.text{
    text-transform: capitalize;
}
    // .page.dark{
    //     background-color: black;
    //     color: white


    // }